---
layout: default
---

<!-- Profile Header -->
<section class="about-section summary">

    <!-- Profile Image -->
    <img class="profile-photo" src="{{ site.data.profile.image }}" alt="my photo" itemprop="image">

    <div class="basic-info">
        <!-- Name -->
        <h1 class="name" itemprop="name">
            {{ site.data.profile.first-name }}
            {{ site.data.profile.last-name }}
        </h1>

        <!-- Contact Info -->
        <p class="contact">{{ site.data.profile.email-username }} (at) {{ site.data.profile.email-domain }}</p>

        <!-- External Links -->
        <ul>
            <li class="external-link"><a href="{{ site.data.profile.twitter }}" itemprop="sameAs" target="_blank">{% include icons/twitter.html %}</a></li>
            <li class="external-link"><a href="{{ site.data.profile.github }}" itemprop="sameAs" target="_blank">{% include icons/github.html %}</a></li>
            <li class="external-link"><a href="{{ site.data.profile.linkedin }}" itemprop="sameAs" target="_blank">{% include icons/linkedin.html %}</a></li>
            <!-- <li class="external-link"><a href="{{ site.data.profile.website }}" itemprop="url">{% include icons/website.html %}</a></li> -->
        </ul>
    </div>

</section>

<!-- About Content -->
<section class="about-section body">
    <div class="content">
        {% capture about_content %}{% include about.md %}{% endcapture %}
        {{ about_content | markdownify }}
    </div>
</section>
