---
layout: default
title: Tools
---

<!-- Heading -->
<section class="tools heading">
    <h1 class="title" itemprop="title">Software Tools</h1>
    <p class="description" itemprop="description">Simple tools for my own use</p>
</section>

<!-- Body -->
<section class="tools body">
    {% for tool in site.tools %}
    <div class="tool">
        <a class="link-trans" href="{{ tool.url }}" itemprop="sameAs">
            <div class="top">
                <img class="thumbnail" src="{{ tool.thumbnail_file }}" alt="thumbnail" itemprop="image">
            </div>
            <div class="bottom">
                <h3 class="name" itemprop="name">
                    <span>{{ tool.title }}</span>
                    <!-- <span>{% include icons/link.html %}</span> -->
                </h3>
                <h4 class="summary" itemprop="summary">{{ tool.summary }}</h4>
            </div>
        </a>
    </div>
    {% endfor %}
</section>
