---
layout: default
title: Tools
---

<!-- Heading -->
<section class="tools heading">
    <h1 class="title" itemprop="title">Software Tools</h1>
    <p class="description" itemprop="description">These aren't fancy engineering side-projects. Just simple tools I made for myself.</p>
</section>

<!-- Body -->
<section class="tools body">
    {% for tool in site.tools %}
    <div class="tool">
        <a class="link-trans" href="{{ tool.url }}" itemprop="sameAs">
            <h3 class="name" itemprop="name">
                <span>{{ tool.title }}</span>
                <span>{% include icons/link.html %}</span>
            </h3>
            <h4 class="summary" itemprop="summary">{{ tool.summary }}</h4>
            <ul class="description">
                {% for desc-item in tool.description %}
                <li>{{ desc-item }}</li>
                {% endfor %}
            </ul>
        </a>
    </div>
    {% endfor %}
</section>
