<header class="header">
    <div class="header-container">
        <a href="/" aria-label="Home" title="Home">
            <div class="header-logo">
                Stuart Sul
            </div>
        </a>
        <nav class="header-nav">
            <ul>
                <li><a class="link-trans" href="/" aria-label="About" title="About">About</a></li>
                <li><a class="link-trans" href="https://medium.com/@stuartsul" target="_blank" aria-label="Blog" title="Blog">Blog</a></li>
            </ul>
        </nav>
    </div>
</header>
